
/* ----------------------
   GLOBAL
---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: rgb(37, 67, 138);
    --secondary-color: rgb(35, 54, 109);
    --tertiary-color: rgb(20, 35, 73);
    --light: rgb(238, 238, 238);
    --medium: rgb(187, 187, 187);
    --dark: rgb(34, 34, 34);
    --primary-color-opaue: rgba(37, 67, 138, .1);

    --regular-font: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;

    --progress-stroke: .1rem;
}

html {
    height: 100%;
}
.hero.is-light, section.hero.is-light, section.hero.is-dark {
    background-color: var(--light);
    color: var(--dark);
}

body, button, input, select, textarea {
    font-family: var(--regular-font);
}

.title, .subtitle {
    word-break: keep-all;
}

.hero.is-light .subtitle a:not(.button), .hero.is-light .subtitle strong, .hero.is-light .subtitle {
    color: var(--dark)
}

.hero-body .subtitle {
    margin-bottom: 0;
}

/* Page headers */
h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}
h2#welcome {
    text-transform: none;
}

/* Bold text color */
.hero.is-light strong {
    color: var(--dark)
}

/* Link text color */
.hero.is-light a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current) {
    color: var(--primary-color)
}

/* Paragraph and list spacing */
p {
    padding-bottom: 1rem;
}
p:last-child {
    padding-bottom: 0;
}
li {
    margin-left: 2.5rem;
    padding-bottom: 1rem;
}

/* ----------------------
   NAVBAR
---------------------- */
.hero .navbar {
    background-color: var(--primary-color);
}

.navbar-brand > .navbar-item {
    overflow: visible;
    display: inline-block;
}

.navbar-brand > .navbar-item > h1 {
    display: flex;
    align-items: center;
}

#logo-image {
    margin-right: 10px;
}

#main-logo {
    display: block;
    height: 6.5rem;
    margin: 0 auto 1rem;
}

.navbar-menu a {
    text-transform: uppercase;
    font-weight: bold;
}

.hero.is-light .title {
    color: var(--light);
}

/* Changes hover background color in navbar */
.hero.is-light .navbar-link.is-active, .hero.is-light .navbar-link:hover, .hero.is-light a.navbar-item.is-active, .hero.is-light a.navbar-item:hover {
    background-color: var(--light);
}

/* Excludes logo from changing on hover */
.hero.is-light .navbar-brand > a.navbar-item:hover {
    background-color: transparent;
}

/* Changes text color in navbar */
.hero.is-light .hero-head a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current), .hero.is-light .hero-head strong {
    color: var(--light);
}

/* Changes hover & current item text color in navbar */
.hero.is-light .hero-head a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current):hover, .hero.is-light .hero-head a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current).is-active {
    color: var(--primary-color);
}


/* ----------------------
   FILE UPLOAD
---------------------- */
.hero-body .file.has-name {
    margin: 3rem 0;
}

.file-cta {
    background-color: var(--light);
    color: var(--primary-color);
    font-weight: bold;
}

.file-label:hover .file-cta {
    background-color: var(--primary-color);
    color: var(--light);
}

.file-name {
    background-color: var(--light);
    text-align: center;
    color: var(--dark);
}

.file-cta {
    border-color: var(--medium);
    border-width: var(--progress-stroke);
}
.file-name, .file.is-boxed.has-name .file-name {
    border-color: var(--medium);
    border-width: 0 var(--progress-stroke) var(--progress-stroke);
}


/* ----------------------
   IMAGE CONFIRMATION
---------------------- */
#confirmation-title {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#confirmation-title input.input {
    height: 2.5rem;
    padding: 0;
    margin-top: 0.5rem;
    border: 1px solid var(--medium);
    border-radius: 1.25rem;
    text-align: center;
}

#confirmation-image {
    max-width: 80%;
    max-height: 33vh;
    margin: 3rem 0;
    object-fit: contain;
    border: 3px solid var(--dark);
    border-radius: 1rem;
    color: var(--dark);
}

#confirm-buttons {
    display: flex;
    justify-content: center;
}

#confirm-submit {
    order: 2;
    margin: 0 1.5rem;
}

#confirm-back {
    order: 1;
    margin: 0 1.5rem;
}


/* ----------------------
   BUTTONS
---------------------- */
.button {
    height: 3rem;
    border: 3px solid var(--primary-color);
    border-radius: 1.5rem;
    color: var(--light);
    background-color: var(--primary-color);
    font-size: 1rem;
    font-weight: bold;
}

.button.secondary {
    border-color: var(--dark);
    background-color: var(--dark);
}

.button:hover {
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--light);
}

.button.secondary:hover {
    border-color: var(--dark);
    color: var(--dark);
}


/* ----------------------
   HELP
---------------------- */

/* Q&A */
.q-and-a {
    padding-bottom: 2rem;
}

/* Q&A boxes */
.q-and-a .q, .q-and-a .a {
    display: flex;
    align-items: center;
    width: 100%;
    border-left-width: 3px;
    border-left-style: solid;
}
.q-and-a .q {
    background: var(--primary-color-opaue);
    border-left-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
}
.q-and-a .a {
    border-left-color: var(--medium);
    color: var(--dark);
}

/* Q&A answer text */
.q-and-a .a span {
    padding: .5rem 0;
}

/* Q&A symbols */
.q-and-a .q::before, .q-and-a .a::before {
    padding: 0 1.5rem 0 .5rem;
    font-size: 2.5rem;
    font-weight: 400;
}
.q-and-a .q::before {
    content: "Q";
}
.q-and-a .a::before {
    content: "A";
    color: var(--medium);
}

/* Q&A symbols */
.q-and-a .a {
    border-left: 3px solid var(--medium);
    color: var(--dark);
}


/* ----------------------
   RESULT
---------------------- */
#downloads {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

#downloads .download-item {
    width: 100%;
    padding: 0 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
}

#downloads .download-item p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#downloads .download-item input.button {
    width: 100%;
}

#restart {
    margin-top: 3rem;
}

@media (max-width: 768px) {
    #downloads {
        flex-direction: column;
    }

    #downloads .download-item {
        padding: 1rem 2rem;
    }
}


/* ----------------------
   INVALID
---------------------- */
#invalid-image {
    height: 20vh;
}


/* ----------------------
   FOOTER
---------------------- */
#progress-circles {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

svg.progress-step {
    width: 1.75rem;
    height: 1.75rem;
}

svg.progress-step line {
    stroke: var(--medium);
    stroke-width: var(--progress-stroke);
}

svg.progress-step.completed line {
    stroke: var(--primary-color);
    stroke-width: var(--progress-stroke);
}

svg.progress-step circle {
    fill: var(--light);
    stroke: var(--medium);
    stroke-width: calc(var(--progress-stroke) * 2);
    clip-path: circle(50%);
}

svg.progress-step.completed circle {
    fill: var(--primary-color);
    stroke: var(--primary-color);
}