<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SheetMusic++</title>
    <!-- Includes both relative links (to run locally) and variable links (to run on server) -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='graphics/logo.svg') }}" type="image/svg+xml">
    <link rel="shortcut icon" href="../static/graphics/logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="../static/css/bulma.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
<section class="hero is-light is-fullheight">
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://www.sheetmusicplusplus.com">
            <h1 class="title">
              <div id="logo-text">SheetMusic++</div>
             </h1>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="https://www.sheetmusicplusplus.com">
              Home
            </a>
            <a class="navbar-item is-active" href="https://www.sheetmusicplusplus.com/about" target="_blank">
              About
            </a>
            <a class="navbar-item" href="https://www.sheetmusicplusplus.com/help" target="_blank">
              Help
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <img id="main-logo" src="{{ url_for('static', filename='graphics/logo.svg') }}">
      <h2 class="subtitle">
        <strong>About</strong>
        <br/><br/>
        This is a sheet music analyzer designed by a team of Pitzer College students in 2021. It allows you to take a picture or scan of any piece of sheet music you might have and turn it into 3 separate file types:
        <br/><br/>
        <ol style="text-align: left;">
          <li>
            PDF: This is a clean document of your music that can easily be stored and shared
          </li>
          <br/>
          <li>
            MIDI: This is a digital music file that can be read by programs such as GarageBand in order to edit notes and virtually play the piece as any instrument
          </li>
          <br/>
          <li>
            LilyPond: This is a digital markup language that has a small file size and can easily be edited and then exported as a PDF, PNG, or MIDI file using a program that you install or through a free online compiler such as LilyBin
        </li>
        </ol>
      </h2>
    </div>
  </div>

</section>

</body>
</html>