<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SheetMusic++</title>
    <!-- Includes both relative links (to run locally) and variable links (to run on server) -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='graphics/logo.svg') }}" type="image/svg+xml">
    <link rel="shortcut icon" href="../static/graphics/logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="../static/css/bulma.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
<section class="hero is-light is-fullheight">
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://www.sheetmusicplusplus.com">
            <h1 class="title">
              SheetMusic++
            </h1>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="https://www.sheetmusicplusplus.com">
              Home
            </a>
            <a class="navbar-item" href="https://www.sheetmusicplusplus.com/about" target="_blank">
              About
            </a>
            <a class="navbar-item" href="https://www.sheetmusicplusplus.com/help" target="_blank">
              Help
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2>Confirm Image</h2>
      Please add a title to your piece and ensure that it is oriented the correct way.
      
      <form action="{{ url_for('predict') }}" method="post">
        <label id="confirmation-title" class="label">
          <div class="control">
            <input class="input" type="text" name="title" placeholder="Piece Title">
          </div>
        </label>
        <!-- <img id="confirmation-image" src="{{ filename }}"> -->
        <img id="confirmation-image" src="{{ url_for('send_img', filename=filename) }}" alt="Uploaded image preview">
        <br/>
        <input class="button secondary" type="submit" name="button" value="Upload different image">
        <input class="button" type="submit" name="button" value="Confirm">
      </form>

    </div>
  </div>

  <div class="hero-foot">
    <div id="progress-circles">
      <svg class="progress-step completed"><circle cx="50%" cy="50%" r="50%"/></svg>
      <svg class="progress-step completed"><line x1="0%" x2="100%" y1="50%" y2="50%"/></svg>
      <svg class="progress-step completed"><circle cx="50%" cy="50%" r="50%"/></svg>
      <svg class="progress-step"><line x1="0%" x2="100%" y1="50%" y2="50%"/></svg>
      <svg class="progress-step"><circle cx="50%" cy="50%" r="50%"/></svg>
    </div>
  </div>

</section>

</body>
</html>