<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SheetMusic++</title>
  <!-- Includes both relative links (to run locally) and variable links (to run on server) -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='graphics/logo.svg') }}" type="image/svg+xml">
  <link rel="shortcut icon" href="../static/graphics/logo.svg" type="image/svg+xml">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="../static/css/bulma.css">
  <link rel="stylesheet" href="../static/css/main.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
<section class="hero is-light is-fullheight">
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://www.sheetmusicplusplus.com">
            <h1 class="title">
              SheetMusic++
            </h1>
          </a>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="https://www.sheetmusicplusplus.com">
              Home
            </a>
            <a class="navbar-item" href="https://www.sheetmusicplusplus.com/about">
              About
            </a>
            <a class="navbar-item is-active" href="https://www.sheetmusicplusplus.com/help">
              Help
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>

  <div class="hero-body">
    <div class="container">
      <img id="main-logo" src="{{ url_for('static', filename='graphics/logo.svg') }}" alt="SheetMusic++ logo; treble clef followed by ++ in a blue hexagon">
      <h2>Help</h2>

      <div class="q-and-a">
        <div class="q">
          Why am I getting an invalid image message?
        </div>
        <div class="a">
          <span>
            <p>
              There are multiple reasons why your inputted file may be returned as invalid. The most common reason may be that your file doesn’t contain typescript, Western classical notation, which is all that our model currently accepts as a valid input.
            </p>
            <p>
              If it does, then there may be issues reading your notation font, or with your line spacing. Our service utilizes a line-splitting YOLO model, and the issue would derive from a low confidence from that model to identify the individual lines of your inputted score.
            </p>
            <p>
              The last major factor in an invalid image may be as simple as your image orientation. Our model may be having a hard time reading a crooked sheet of music, and the fix is as simple as re-uploading a vertically-oriented sheet!
            </p>
          </span>
        </div>
      </div>

      <div class="q-and-a">
        <div class="q">
          What is LilyPond?
        </div>
        <div class="a">
          <span>
            LilyPond is a text based software that generates sheet music in .pdf, .png, or .midi format. Read more about LilyPond at <a href="http://lilypond.org" target="_blank">lilypond.org</a>
          </span>
        </div>
      </div>

      <div class="q-and-a">
        <div class="q">
          How does SheetMusic++ work?
        </div>
        <div class="a">
          <span>
            SheetMusic++ utilizes deep learning in order to parse and detect sheet music. You can read more about Sheet Music Analyzer on the <a href="https://www.sheetmusicplusplus.com/about">About</a> page.
          </span>
        </div>
      </div>

      <div class="q-and-a">
        <div class="q">
          What if the sheet music generated is incorrect?
        </div>
        <div class="a">
          <span>
            We can’t guarantee that every piece of sheet music generated on Sheet Music Analyzer will be perfect. If your sheet music has a few errors in it you would like to correct, download it as a LilyPond file to modify it.
          </span>
        </div>
      </div>
    </div>
  </div>

</section>

</body>
</html>