<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SheetMusic++</title>
    <!-- Includes both relative links (to run locally) and variable links (to run on server) -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='graphics/logo.svg') }}" type="image/svg+xml">
    <link rel="shortcut icon" href="../static/graphics/logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="../static/css/bulma.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
<section class="hero is-light is-fullheight">
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://www.sheetmusicplusplus.com">
            <h1 class="title">
              SheetMusic++
            </h1>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="https://www.sheetmusicplusplus.com">
              Home
            </a>
            <a class="navbar-item" href="https://www.sheetmusicplusplus.com/about" target="_blank">
              About
            </a>
            <a class="navbar-item is-active" href="https://www.sheetmusicplusplus.com/help" target="_blank">
              Help
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <img id="main-logo" src="{{ url_for('static', filename='graphics/logo.svg') }}" alt="SheetMusic++ logo; treble clef followed by ++ in a blue hexagon">
      <h2 class="subtitle">
        <strong>Help</strong>
        <br/><br/>
        <strong>Q:</strong> Why am I getting an invalid image message?
        <br/>
        <strong>A:</strong> Sheet Music Analyzer accepts image formats such as .png, .jpeg, and .heic. If you are uploading an image of that type and still getting error messages, the file is likely corrupted.

        <br/><br/>
        <strong>Q:</strong> What is LilyPond?
        <br/>
        <strong>A:</strong> LilyPond is a text based software that generates sheet music in .pdf, .png, or .midi format. Read more about LilyPond at lilypond.org 

        <br/><br/>
        <strong>Q:</strong> How does Sheet Music Analyzer work?
        <br/>
        <strong>A:</strong> You can read more about Sheet Music Analyzer on the About page.

        <br/><br/>
        <strong>Q:</strong> What if the sheet music generated is incorrect?
        <br/>
        <strong>A:</strong> We can’t guarantee that every piece of sheet music generated on Sheet Music Analyzer will be perfect. If your sheet music has a few errors in it you would like to correct, download it as a LilyPond file to modify it.

      </h2>
    </div>
  </div>

</section>

</body>
</html>