<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SheetMusic++</title>
    <!-- Includes both relative links (to run locally) and variable links (to run on server) -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='graphics/logo.svg') }}" type="image/svg+xml">
    <link rel="shortcut icon" href="../static/graphics/logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="../static/css/bulma.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
<section class="hero is-light is-fullheight">
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://www.sheetmusicplusplus.com">
            <h1 class="title">
              SheetMusic++
            </h1>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="https://www.sheetmusicplusplus.com">
              Home
            </a>
            <a class="navbar-item" href="https://www.sheetmusicplusplus.com/about" target="_blank">
              About
            </a>
            <a class="navbar-item" href="https://www.sheetmusicplusplus.com/help" target="_blank">
              Help
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <img id="invalid-image" src="{{ url_for('static', filename='graphics/invalid.svg') }}" alt="Blue exclamation mark">
      <h2>{{ error }}</h2>
      <p>
        {{ text }}
      </p>
      <p>
        For more information, please see the <a href="https://www.sheetmusicplusplus.com/help" target="_blank">Help</a> page.
      </p>
      <form action="https://www.sheetmusicplusplus.com">
        <input class="button" type="submit" value="Try anther image">
      </form>
    </div>
  </div>

</section>

</body>
</html>